<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<nav class="nav flex container">
    <div class="left flex items-center">
        <a routerLink=""> <img src="assets\myntra-logo-brandlogos.net_.png"></a>
        <ul class="flex items-center justify-center">
            <li><a routerLink="men">Men</a></li>
            <li><a routerLink="women">Women</a> </li>
            <li>Kids</li>
            <li>Home & Living</li>
            <li>Beauty</li>
            <li>Studio</li>
        </ul>
    </div>
    <div class="right flex items-center">
        <input placeholder="Search for products, brands and more" class="desktop-searchBar search" value="" data-reactid="907">
        <div class="profile mx-2">
             <i class="fas fa-user"></i>Profile</div>
        <div class="wishlist mx-2"> <i class="fas fa-heart"></i>Wishlist</div>
        <div class="bag mx-2"> <i class="fas fa-shopping-bag"></i>
            <a routerLink="bag">
            Bag</a></div>
    </div>
</nav>

