<p>women works!</p>
<img src="/assets/image1.png" width="1350px">
<div class="women-container">
    <h2>CATEGORIES TO BAG</h2>
          <div class="women-grid">
               <div class="women-card">
                  <div class="image-container">
                     <a routerLink="/productlist">
                          <img src="assets/women/Sarees.webp" alt="sarees">
                     </a>
                 </div>
                 <div class="women-title">sarees</div>
              </div>
              <div class="women-card">
                  <div class="image-container">
                       <a routerLink="/kurthi">
                         <img src="assets/women/kurthi.webp" alt="kurthi">
                      </a>
                   </div>
                   <div class="women-title">kurthi</div>
               </div>
                <div class="women-card">
                   <div class="image-container">
                      <a routerLink="">
                         <img src="assets/women/kids.webp" alt="kids">
                     </a>
                   </div>
                   <div class="women-title">kids</div>
               </div>
                <div class="women-card">
                    <div class="image-container">
                       <a routerLink="">
                         <img src="assets/women/westernwear.webp" alt="westernwear">
                     </a>
                  </div>
                   <div class="women-title">Western</div>
                </div>
                <div class="women-card">
                   <div class="image-container">
                      <a routerLink="">
                         <img src="assets/women/Footwear.webp" alt="footwear">
                      </a>
                  </div>
                  <div class="women-title">Footwear</div>
               </div>
               <div class="women-card">
                  <div class="image-container">
                      <a routerLink="">
                         <img src="assets/women/Jewellary.webp" alt="Jewellery">
                      </a>
                  </div>
                  <div class="women-title">Jewellary</div>
               </div>
               <div class="women-card">
                  <div class="image-container">
                      <a routerLink="">
                         <img src="assets/women/beauty-makeup.webp" alt="beauty">
                      </a>
                  </div>
                  <div class="women-title">beauty</div>
              </div>
          </div>
</div>
